//google font
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600;700&display=swap');


//breakpoints
$mobile-bp: 408px;
$pad-bp: 600px;
$desktop-bp: 1250px;

//colors
$purple: #AD1FEA;
$blue: #4661E6;
$navyblue_dark: #373F68;
$white: #FFFFFF;
$accentgrey: #F2F4FF;
$grey: #F7F8FD;
$navyblue_light: #3A4374;
$bluegrey: #647196;
$orange: #F49F85;
$babyblue: #62BCFA;


//mixins
@mixin default-small-button($bgcolor){
  background-color: $bgcolor;
  height: 4.4em;
  width: 15.8em;
  border-radius: 10px;
  color: $accentgrey;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 2em;
  text-align: center;

  &:hover{
    opacity: .5;
  }
}

@mixin default-button($bgcolor){
  background-color: $bgcolor;
  height: 5.3em;
  width: 15.8em;
  border-radius: 5px;
  color: $white;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 2em;

  &:hover{
    text-decoration: underline;
  }
}

@mixin upvote-box($bgcolor){
  background-color: $bgcolor;
  height: 53px;
  width: 40px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.9em;
  text-align: center;
  letter-spacing: -0.180556px;
  color: $navyblue_light;
}

