/* You can add global styles to this file, and also import other style files */
@use 'styles/app.component.styles';



* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Jost', serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
