/* You can add global styles to this file, and also import other style files */
@use './styles/app.component';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Jost', serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

//breakpoints
$mobile-bp: 408px;
$pad-bp: 600px;
$desktop-bp: 1250px;

//colors
$purple: #AD1FEA;
$blue: #4661E6;
$navyblue_dark: #373F68;
$white: #FFFFFF;
$accentgrey: #F2F4FF;
$grey: #F7F8FD;
$navyblue_light: #3A4374;
$bluegrey: #647196;
$orange: #F49F85;
$babyblue: #62BCFA;

